@import '../../assets/sass/MainUtil';

section.section {
    padding: 2rem 0;

    .section-title {
        margin-bottom: 1rem;

        h2.title {
            display: inline-block;
            margin: 0;
        }
    }
}